html {
  box-sizing: border-box;
  font-family: var(--ff-primary);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: 1px solid red;
}

a {
  text-decoration: none;
}

.content {
  width: 1110px;
  min-width: calc(100% - 330px);
  min-height: 736px;
  margin-left: auto;
  margin-right: auto;
}
